<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="auth-container">
  <!--LOGIN-->
  <mat-card fxFlex="40">
    <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput ngModel name="username" #username="ngModel" type="text" id="username" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput ngModel name="password" #password="ngModel" type="password" id="password" required>
      </mat-form-field>

      <div class="signin-from-mat-label">
        <label>Signing in From: </label>
      </div>

      <br>

      <div>
        <mat-radio-group ngModel name="from" #from="ngModel" color="primary">
          <mat-radio-button type="radio" id="home" value="Home" required>Home</mat-radio-button>
          <mat-radio-button type="radio" id="office" value="Office" required>Office</mat-radio-button>
          <mat-radio-button type="radio" id="client" value="Client" required>Client</mat-radio-button>
        </mat-radio-group>
      </div>

      <br>

      <div>
        <button mat-raised-button [disabled]="!loginForm.valid" type="submit">Login</button>
        <div class="col-sm-9">
          <small class="form-text">
            <a class="text-right" href="#">Forgot password ?</a>
          </small>
        </div>
      </div>
      <div class="ml-3">
        <small class="form-text">
          <a href="javascript:void(0)" (click)="onSignupLink()">New User? Sign Up</a>
        </small>
      </div>
    </form>
  </mat-card>
  <!--SIGNUP-->
  <mat-card fxFlex="60" *ngIf="signupMode">
    <div fxLayout="row" fxLayoutAlign="center">
      <span class="spacer"></span>
      <h3>Create Account</h3>
      <span class="spacer"></span>
      <button mat-icon-button (click)="onCloseSignup()"><mat-icon id="signup-close">cancel</mat-icon> </button>
    </div>
    <form (ngSubmit)="onSignup(signupForm)" #signupForm="ngForm">
      <mat-form-field>
        <mat-label class="m-0 mat-labels" for="fname">First Name</mat-label>
        <input matInput ngModel name="fname" #fname="ngModel" type="text" class="form-control form-control-sm"
          id="fname" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label class="m-0 mat-labels" for="mname">Middle Name</mat-label>
        <input matInput ngModel name="mname" #mname="ngModel" type="text" class="form-control form-control-sm"
          id="mname">
      </mat-form-field>
      <mat-form-field>
        <mat-label class="m-0 mat-labels" for="lname">Last Name</mat-label>
        <input matInput ngModel name="lname" #lname="ngModel" type="text" class="form-control form-control-sm"
          id="lname" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label class="m-0 mat-labels" for="empid">Employee Id</mat-label>
        <input matInput ngModel name="empid" #password="ngModel" type="text" class="form-control form-control-sm"
          id="empid" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label class="m-0 mat-labels" for="email">Company Email</mat-label>
        <input matInput ngModel name="email" #email="ngModel" type="text" class="form-control form-control-sm"
          id="email" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label class="m-0 mat-labels" for="uname">Username</mat-label>
        <input matInput ngModel name="uname" #uname="ngModel" type="text" class="form-control form-control-sm"
          id="uname" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label class="m-0 mat-labels" for="pass">Password</mat-label>
        <input matInput ngModel name="pass" #pass="ngModel" type="password" class="form-control form-control-sm"
          id="pass" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label class="m-0 mat-labels" for="phone">Phone Number</mat-label>
        <input matInput ngModel name="phone" #phone="ngModel" type="text" class="form-control form-control-sm"
          id="phone" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label class="m-0 mat-labels" for="altphone">Alternate Number</mat-label>
        <input matInput ngModel name="altphone" #altphone="ngModel" type="text" class="form-control form-control-sm"
          id="altphone">
      </mat-form-field>

      <mat-form-field>
        <mat-label class="m-0 mat-labels" for="designation">Designation</mat-label>
        <input matInput ngModel name="designation" #designation="ngModel" type="text"
          class="form-control form-control-sm" id="designation" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>D.O.J</mat-label>
        <input matInput ngModel name="doj" #doj="ngModel" type="date" class="form-control form-control-sm" id="doj"
          required>
      </mat-form-field>

      <div>
        <label>Gender: </label>
        <mat-radio-group ngModel name="gender" #gender="ngModel" color="primary">
          <mat-radio-button type="radio" id="male" value="Home" required>Male</mat-radio-button>
          <mat-radio-button type="radio" id="female" value="Office" required>Female</mat-radio-button>
        </mat-radio-group>
      </div>

      <br>

      <button mat-raised-button [disabled]="signupForm.invalid" type="submit" color="primary">Signup</button>

    </form>
  </mat-card>
</div>
