.labels {
    font-weight: 500;
    font-size: 0.9rem;
}

.signup-close-btn {
    border-radius: 15px;
    box-shadow: black;
    width: 35px;
    font-weight: bolder;
}

a {
    cursor: pointer;
}

mat-radio-group :nth-child(-n+2), mat-form-field {
  margin-right: 7px;
}

mat-icon {
  position: relative;
  top: -7px;
}

mat-icon#signup-close {
  color: #ab003c;
}

.spacer {
  flex: 1 1 auto;
}
